<%= image_tag <iframe src="//giphy.com/embed/Y6YWPgjBFA5i0?html5=true" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/cheezburger-bear-cute-Y6YWPgjBFA5i0">via GIPHY</a></p>%>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
<%= image_tag %>
