<!DOCTYPE html>
<html>
<head>
  <title>GifWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<%= render partial: "session" %>
<div class="container">
  <% flash.each do |name, message| %>
    <%= content_tag :div, message, class: "alert alert-#{name}" %>
  <% end %>
  <div class="col-xs-10">

<%= yield %>


</div>
<%= link_to "Add a new gif!", new_gif_path, :class => "btn btn-large btn-primary", "data-toggle" => "modal", "data-target" => "#new-gif-modal", "data-remote" => false %>
</body>
</html>
